@font-face {
  font-family: "Segoe";
  src: local("Segoe"), local("Segoe-ui"), url("../fonts/segoe/segoeui.woff2") format("woff2"), url("../fonts/segoe/segoeui.woff") format("woff"), url("../fonts/segoe/segoeui.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*,
*::after,
*::before {
  box-sizing: border-box; }

html {
  min-height: 100%;
  font-size: 7px; }

body {
  position: relative;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  max-width: 100%;
  min-height: 100%;
  font: 300 2rem/1.3 "Segoe", "Arial", sans-serif;
  color: black;
  overflow-x: hidden;
  -webkit-text-size-adjust: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

dd,
dl,
dt {
  margin: 0;
  padding: 0; }

a {
  text-decoration: none;
  color: #b5b9be; }
  a:active, a:focus, a:hover {
    text-decoration: underline; }

.wrapper {
  position: relative;
  min-height: 100%;
  height: auto !important;
  overflow: hidden; }

.back-top {
  position: fixed;
  bottom: 3rem;
  right: 3rem;
  z-index: 1000; }
  .back-top a {
    display: block;
    width: 5rem;
    height: 5rem;
    background: url("../img/icons/top.svg") center no-repeat;
    background-size: contain;
    text-align: center;
    text-decoration: none; }
    .back-top a:hover {
      background-image: url("../img/icons/top_hover.svg"); }

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem; }

.btn {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1rem;
  padding: 1rem 2rem;
  border: none;
  background-color: #878787;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  font: normal 2.2rem "Segoe", "Arial", sans-serif;
  color: #fff; }
  .btn:hover, .btn:active {
    text-decoration: none; }

.modal {
  z-index: 1000;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 60rem;
  max-width: 100%;
  height: 40rem;
  max-height: 100%;
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0.4rem 0.4rem 0.5rem rgba(76, 76, 76, 0.75);
  outline: 0;
  overflow: hidden;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  transition: all .5s ease; }
  .modal_show {
    display: block;
    -webkit-animation: bounce 0.6s;
            animation: bounce 0.6s; }
  .modal_bg {
    z-index: 50;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    transition: all .5s ease; }

.modal__close {
  z-index: 1;
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: 4rem;
  height: 4rem;
  font-size: 0;
  border: none;
  border-radius: 50%;
  background: url("../img/icons/cross.svg") center no-repeat;
  background-size: contain;
  transition: all 0.3s; }
  .modal__close:hover, .modal__close:active, .modal__close:focus {
    cursor: pointer;
    outline: none;
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1); }

.modal__guts {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 6rem 2rem 2rem 2rem;
  text-align: center;
  font: 300 2rem "Segoe", "Arial", sans-serif;
  overflow: auto; }

/* Animation */
@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(-2000px);
    transform: translateY(-2000px); }
  70% {
    -webkit-transform: translateY(30px);
    transform: translateY(30px); }
  90% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px); }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0); } }

@keyframes bounce {
  0% {
    -webkit-transform: translateY(-2000px);
    transform: translateY(-2000px); }
  70% {
    -webkit-transform: translateY(30px);
    transform: translateY(30px); }
  90% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px); }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0); } }

.form__item input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  display: block;
  width: 100%;
  height: 5rem;
  padding: 1rem;
  font: normal 2rem/1.33 "Segoe", "Arial", sans-serif;
  color: #323749;
  box-shadow: inset 0 0 0 1px rgba(76, 76, 76, 0.75);
  border: 1px solid gainsboro;
  border-radius: 5px;
  opacity: 1;
  transition: all 0.3s ease; }

.form__item input[type="text"]::-webkit-input-placeholder,
input[type="email"]::-webkit-input-placeholder,
input[type="tel"]::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #b1b1b1;
  opacity: 1;
  transition: all 0.3s ease; }

.form__item input[type="text"]::-moz-placeholder,
input[type="email"]::-moz-placeholder,
input[type="tel"]::-moz-placeholder,
textarea::-moz-placeholder {
  color: #b1b1b1;
  opacity: 1;
  transition: all 0.3s ease; }

.form__item input[type="text"]:-ms-input-placeholder,
input[type="email"]:-ms-input-placeholder,
input[type="tel"]:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: #b1b1b1;
  opacity: 1;
  transition: all 0.3s ease; }

.form__item input[type="text"]:focus::-webkit-input-placeholder,
input[type="email"]:focus::-webkit-input-placeholder,
input[type="tel"]:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder {
  opacity: 0;
  transition: all 0.3s ease;
  border-color: #3c3c3b; }

.form__item input[type="text"]:focus::-moz-placeholder,
input[type="email"]:focus::-moz-placeholder,
input[type="tel"]:focus::-moz-placeholder,
textarea:focus::-moz-placeholder {
  opacity: 0;
  transition: all 0.3s ease;
  border-color: #3c3c3b; }

.form__item input[type="text"]:focus:-moz-placeholder,
input[type="email"]:focus:-moz-placeholder,
input[type="tel"]:focus:-moz-placeholder,
textarea:focus:-moz-placeholder {
  opacity: 0;
  transition: all 0.3s ease;
  border-color: #3c3c3b; }

.form__item input[type="text"]:focus:-ms-input-placeholder,
input[type="email"]:focus:-ms-input-placeholder,
input[type="tel"]:focus:-ms-input-placeholder,
textarea:focus:-ms-input-placeholder {
  opacity: 0;
  transition: all 0.3s ease;
  border-color: #3c3c3b; }

.form__item input[type="text"]:hover, .form__item input[type="text"]:active, .form__item input[type="text"]:focus,
input[type="email"]:hover,
input[type="email"]:active,
input[type="email"]:focus,
input[type="tel"]:hover,
input[type="tel"]:active,
input[type="tel"]:focus,
textarea:hover,
textarea:active,
textarea:focus {
  outline: none;
  border-color: #3c3c3b; }

.form__item input[type="text"]:required:valid,
input[type="email"]:required:valid,
input[type="tel"]:required:valid,
textarea:required:valid {
  outline: none;
  border-color: green; }

.errortext {
  padding: 1rem;
  color: red;
  transition: all 0.3s ease; }

@media (min-width: 767px) {

  html {
    font-size: 9px; } }

@media (min-width: 1024px) {

  html {
    font-size: 10px; } }
