// colors
$color_shadow: rgba(165, 165, 165, 0.75);
$color_logo: #282d3a;

$color_field: #868686;
$color_field_border: #78909c;
$color_field_hover: #60767f;


$gray_dark: #3c3c3b;
$gray: #878787;
$gray_light: #b1b1b1;
$gray_lightest: #f7f5f4;

$red: #e20613;

// shadow
$shadow: 0px 3px 5px 0 $color_shadow;

// fonts
$font_1: "Open Sans", "Arial", sans-serif;

// media
$mobile: 460px;
$mobile_full: 592px;
$tablet: 767px;
$tablet_full: 880px;
$desktop: 1024px;
