.breadcrumbs {
	width: 100%;
	margin-bottom: 1rem;
}

.breadcrumbs__list {
	margin: 0;
	padding: 1rem;
	list-style: none;
}

.breadcrumbs__item {
	position: relative;
	display: inline-block;
	margin: 0 2rem 0 0;
	line-height: 2;

	a,
	span {
		font-size: 1.4rem;
		color: $color_logo;
	}

	&:after {
		content: ">";
		position: absolute;
		top: 2px;
		right: -1.5rem;
		color: $color_logo;
	}
	&:last-child {
		&:after {display: none;}
	}
}
