.contacts {
	min-height: inherit;
	background: url("../img/contacts-bg.png") right bottom no-repeat;

	span {
		color: $red;
	}
	// a {
	// 	display: inline-block;
	// }
	.form {
		width: 50%;
		margin: 0 0 2rem 0;
	}

	@media (max-width: $tablet) {
		background: none;

		.form {
			width: 100%;
		}
	}
}

.contacts__name {
	display: block;
}

.contacts__phone-list {
	margin: 0;
	padding: 0;
	list-style: none;
}
