/* header */
.header {
	width: 100%;
	background-color: $gray_lightest;
}

.header__top {
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-height: 12rem;

	@media (max-width: $tablet_full) {
		flex-wrap: wrap;
		max-height: none;

		.btn {
			z-index: 101;
			margin: 0 auto 2rem auto;
			width: 60%;
		}
	}
	@media screen and (max-width: $mobile_full) {
		.btn {

			margin: 1rem auto;
		}
	}
}

.header__bottom {
	z-index: 100;
	position: relative;
	width: 100%;
	height: 100%;
	background-color: #fff;
	box-shadow: 0 3px 5px -3px $color_shadow, 0 -3px 5px -5px $color_shadow;
}

.header__phone {
	margin: 0;
	padding: 0;
	list-style: none;

	@media (max-width: $mobile_full) {
		width: 100%;
		margin: 1rem auto;
		text-align: center;
	}
}

.header__phone-item {
	font-size: 2.2rem;
	font-weight: normal;
	color: $gray_dark;

	@include niceText;

	&:first-child {
		margin-bottom: 0.5rem;
	}
}

.header__menu-row {
	width: 100%;
	height: 6rem;
	transition: transform 0.3s ease;
	will-change: transform;

	@media (max-width: $tablet_full) {
		position: absolute;
		top: 0;
		left: 100%;
		height: 100%;
		padding: 0;
		transform: translate(0, -150%);
	}
	@media screen and (max-width: $mobile_full) {
		top: 128px;
	}
}

.header__menu-list {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	margin: 0;
	padding: 0;
	height: inherit;
	list-style: none;
}

.header__menu-item {
	position: relative;
	width: 100%;
	padding: 0.5rem 0;
	text-align: center;

	&:not(:last-child) {
		&:after {
			content: "";
			position: absolute;
			top: 0;
			right: 0;
			width: 1px;
			height: 100%;
			background-color: $red;
		}
	}

	@media (max-width: $tablet_full) {
		padding: 2rem 0 0;
	}
}

.header__menu-link {
	padding: 2rem 0;
	font: 600 2rem $font_1;
	color: $gray_dark;
	transition: all 0.3s;

	&:hover,
	&:active {
		color: $red;
	}
}

/* burger */
.menu__trigger-wrap {
	position: absolute;
	top: 0;
	left: 100%;
	display: none;
	width: 100%;
	height: 54px;

	@media (max-width: $tablet_full) {
		display: block;
	}
	@media (max-width: $mobile_full) {
		top: 75px;
	}
}

.menu__trigger {
	z-index: 210;
	position: absolute;
	top: 50%;
	right: 2rem;
	display: none;
	height: 2.6rem;
	width: 3.8rem;
	margin-top: -1.6rem;
	text-transform: uppercase;
	color: transparent;
	cursor: pointer;

	&:before {
		content: "";
		position: absolute;
		top: 50%;
		left: 0;
		width: 100%;
		height: 0.4rem;
		margin-top: -.2rem;
		background: black;
		transform: translate(0, -1rem);
		transition: all 0.3s ease;
	}

	&:after {
		content: "";
		position: absolute;
		top: 50%;
		left: 0;
		width: 100%;
		height: 0.4rem;
		margin-top: -.2rem;
		background: black;
		transform: translate(0, 1rem);
		transition: all 0.3s ease;
	}
	@media (max-width: $tablet_full) {
		display: block;
	}
}
/* X */
.menu__trigger.active__mod {
	&:before {
		transform: rotate(45deg) translate(0, 0);
	}

	&:after {
		transform: rotate(-45deg) translate(0, 0);
	}
}

.menu__trigger-decor {
	position: absolute;
	top: 50%;
	left: 0;
	width: 100%;
	height: 0.4rem;
	margin-top: -.2rem;
	background: black;
	transition: all 0.3s ease;
}

.active__mod .menu__trigger-decor {
	opacity: 0;
	transform: translate(100%, 0);
}

@media screen and (max-width: $tablet_full) {
	.header__bottom {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 12.5rem;
		right: 100%;
	}

	.header__menu-list {
		flex-direction: column;
		height: auto;
		background-image: linear-gradient(to top, #feada6 0%, #f5efef 100%);
		list-style: circle;
		list-style-position: inside;
	}

	.header__menu-item {
		padding-bottom: 2rem;

		&:after {display: none;}
	}

	body.menu__open .header__menu-row {
		transform: translate(0, 0);
	}
	body.menu__open .header__bottom {
		z-index: 9999;
	}
}
