.logo {
	position: relative;
	display: flex;
	align-items: center;
	max-width: 43rem;
	padding: 1rem 0;

	@media (max-width: $mobile_full) {
		margin: 0 auto;
	}
}

.logo__img-wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 15rem;
	padding-right: 3rem;
	text-align: center;

	img {
		width: 57px;
		height: 73px;
	}
}

.logo__img-text {
	font-size: 2rem;
	font-weight: bold;
	text-transform: uppercase;
	color: $color_logo;
}

.logo__text {
	margin: 0;
	text-align: left;
	font-size: 2.2rem;
	color: $red;
}
